@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yeseva+One&display=swap');
body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal
}
img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
}
h1 {
  color: black;
  text-align: center;
}
h3{
  color: rgb(0, 0, 0);
  text-align: center;
}
p{
  text-align: center;
}
h4 {
  color: rgb(0, 0, 0);
  text-align: center;
  text-align: justify;
}
span {
  color: rgb(0, 0, 0);
  text-align: center;
  text-align: justify;
}
.duascolunas{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  max-width: 800px;
  margin: 0 auto;
}
.coluna-imagem {
  flex: 1; 
}
.coluna-texto {
  flex: 1; 
  padding-left: 20px; 
}
.trescolunas{
  display: flex;
  justify-content: space-between; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}
.experiencias{
  flex: 1; 
  margin: 10px; 
  padding: 15px; 
  background-color: #ffffff1e;
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: justify;
}
.experiencias h4 {
 text-align: center; /* Centraliza o título */
 
}
body{
  background-color: rgb(248, 240, 231);
}
footer {
    background-color: #342d1c9b;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    position: fixed;
}